<nav class="navbar">
    <a href="/" class="navbar-brand">Expenso</a>
    <ul class="navbar-nav">
        <% if (locals.user) { %>
            <li class="nav-item"><a href="/auth/logout" class="nav-link">Logout</a></li>
        <% } else { %>
            <li class="nav-item"><a href="/auth/login" class="nav-link">Login</a></li>
            <li class="nav-item"><a href="/auth/signup" class="nav-link">Sign Up</a></li>
        <% } %>
    </ul>
</nav>