<% layout("/layouts/boilerplate") %>

    <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><i class="fa-solid fa-receipt"></i> Expenso</a>
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <% if (user) { %>
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    <% } else { %>
                        <a class="nav-link" href="/auth/login">Login</a>
                        <a class="nav-link" href="/auth/signup">Sign Up</a>
                    <% } %>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if (success_msg && success_msg.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= success_msg %>
            </div>
        <% } %>
        <% if (error_msg && error_msg.length > 0) { %>
            <div class="alert alert-danger" role="alert">
                <%= error_msg %>
            </div>
        <% } %>
        <%- body %>
    </div>
